input[type=text], textarea {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: hsl(0,0%,80%);
  background-color: hsl(0,0%,100%);
  border-width: 1px;
  border-style: solid;
  outline: none;
  font-size: 0.9rem;
  padding: 3px 0px 3px 10px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  -moz-box-shadow: 0 0 5px #5243AA;
  -webkit-box-shadow: 0 0 5px #5243AA;
  box-shadow: 0 0 5px #5243AA;
  border-color: hsl(0,0%,80%);
  background-color: hsl(0,0%,100%);
  border-width: 1px;
  font-size: 0.9rem;
  border-style: solid;
  padding: 3px 0px 3px 5px;
  border: 1px solid #5243AA;
}

#react-select-2-input {
  box-shadow: none;
}

input[type=submit], .btn-primary:not(:disabled):not(.disabled):active, .btn-primary {
  color: #fff;
  background-color: #5243AA;
  border-color: #5243AA;
}

input[type=submit]:focus {
  box-shadow: 1px 1px 1px 0px #5243AA;
}

div[class*="css-1szy77t-control"], div[class*="css-1szy77t-control"]:focus, div[class*="css-1szy77t-control"]:hover {
  -moz-box-shadow: 0 0 5px #5243AA;
  -webkit-box-shadow: 0 0 5px #5243AA;
  box-shadow: 0 0 5px #5243AA;
  border-color: hsl(0,0%,80%);
  background-color: hsl(0,0%,100%);
  border-width: 1px;
  font-size: 0.9rem;
  border-style: solid;
  border: 1px solid #5243AA;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 5px #5243AA;
}

input[type=submit]:hover, .btn-primary:hover {
  color: #fff;
  -moz-box-shadow: 0 0 5px #5243AA;
  -webkit-box-shadow: 0 0 5px #5243AA;
  box-shadow: 0 0 8px #5243AA;
  border-color: #5243AA;
  background-color: #3c2c94;
  border-width: 1px;
  border-style: solid;
  border: 1px solid #5243AA;
}

.btn-danger:hover {
  color: #fff;
  -moz-box-shadow: 0 0 5px #c82333;
  -webkit-box-shadow: 0 0 5px #c82333;
  box-shadow: 0 0 8px #c82333;
  background-color: #bd2130;
  border-color: #bd2130;
}

.btn-danger:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 5px #c82333;
}