.marketing {
    margin-top: 5.5rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

img.rounded-circle:hover {
    cursor:pointer;
    filter: invert(100%);
}

img.rounded-circle {
    margin-bottom: 5%
}

p {
    margin-top: 25px;
}

.btn-secondary {
    margin-bottom: 10%;
}

.input-group {
    width: 75%;
    margin: 0 auto;
    float: none;
    padding-bottom: 10%;
}

.searchbox-layer1 {
    width: 100%;
    max-width: 836px;
    margin: 42px auto 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.25);
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.25);
}

.searchbox-layer2 {
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    height: 50px;
}

.searchbox-layer3 {
    /* margin-left: 40px; */
    padding-left: 40px;
    height: 100%;
}

.searchbox-layer4 {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
}

.searchbox-layer5 {
    width: 100%;
    height: 100%;
    font: 400 14px/1 Open Sans,sans-serif;
    color: #2d383f;
    background: transparent;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.search-button {
    width: 146px;
    height: 50px;
    border-radius: 0 2px 2px 0;
    background-color: #3c2c94;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    cursor: pointer;
    border: none;
    display: none;
    padding: 0;
    color: inherit;
    font: inherit;
    margin: 0;
}

.search-button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

.search-button:hover, .search-button:active  {
    background-color: #4939a3
}

#search-page-bar {
    height: 50px;
    border-radius: 0 2px 2px 0;
    font-size: 16px;
}

#search-page-bar:focus {
  -moz-box-shadow: 0 0 5px rgb(107, 105, 105);
  -webkit-box-shadow: 0 0 5px rgb(107, 105, 105);
  box-shadow: 0 0 5px rgb(107, 105, 105);
  border-color: hsl(0,0%,80%);
  background-color: hsl(0,0%,100%);
  border-style: solid;
  padding: 0px 0px 0px 5px;
  border: 1px solid rgb(107, 105, 105);
}

button span {
    color: white;
}

@media (min-width : 768px) {
    .search-button {
        display: block;
    }
}

#search {
    border: none
}

#search-icon {
    color:  grey;
    margin-top: -4px;
}

.row {
    margin-top: 10%;
}

.icon-search {
    width: 16px;
    height: 16px;
    fill: #a9a9a9;
    -webkit-transition: fill .3s linear;
    -o-transition: fill .3s linear;
    transition: fill .3s linear;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    margin: 0 12px;
}

div[class*=-container], div[class*=-control], div[class*=-container]:focus, div[class*=-control]:focus {
    height: 100%;
    width: 100%;
    background-color:white;
}

div[class$=-menu] {
    margin-top: 0px;
    border-radius: 0px;
    text-align: left;
    text-align: -webkit-left;
}

div[class$=-option], div[class$=-option]:hover {
    color: #2d383f;
    padding: 12px;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-radius: 18px;
}

#timeline-label {
    color: white;
    background-color: #28a745;
    border-radius: 0%;
}