body{
  font-family: Montserrat,sans-serif;
  
  >h1{
    text-align: center;
    margin-bottom: 40px;
  }
}

.timeline {
	padding: 0px 5%;
}

.timeline-item {
	display: flex;
	align-items: flex-start;
  
  > div {
    flex: 1;
    padding: 20px 40px;
    
    &:last-child {
      text-align: left;
      padding-bottom: 70px !important;
    }
  }
  
  &:nth-child(odd){
    > div:first-child {
      text-align: right;
      position: relative;
      
      &::after {
        right: -11px;
      }
    }
    
    > div:last-child {
      text-align: left;
      border-left: 2px solid #e0e0e0;
    }
    
    .timeline-content > h2 {
      text-align: left !important;
    }
    
    .timeline-date > div {
      margin-right: 0px;
    }
  }
  
  &:nth-child(even){
    > div:first-child {
      order: 2;
      text-align: left;
      position: relative;
      
      &::after {
        left: -1px;
      }
    }
    
    > div:last-child {
      order: 1;
      text-align: right;
      border-right: 2px solid #e0e0e0;
    }
    
    .timeline-date > div {
      margin-left: 0px;
    }
    
    .timeline-content > h2 {
      text-align: right !important;
    }
  }
  
  > div:first-child::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #673AB7;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 4px rgba(103, 58, 183, 0.2);
  }
  
  .timeline-date > div {
    background-color: #673AB7;
    box-shadow: 0 0 0 4px rgba(103, 58, 183, 0.2);
    border-radius: 50px;
    color: #ffffff;
    text-align: center;
    max-width: max-content;
    margin: auto;
    padding: 10px 20px;
    padding: 5px 15px 5px 10px;

    // visibility: visible;
    // -webkit-animation: cd-bounce-2 0.6s;
    // -moz-animation: cd-bounce-2 0.6s;
    // animation: cd-bounce-2 0.6s;
  }

  .timeline-content p {
    background: #4a4a4a;
    border-top: 1px solid #eee;
    color: white;
    padding: 1em;
    margin-top: 5%;
    margin-bottom: -3%;
    border-radius: 6px 6px 6px 6px;
  }
  
  .timeline-content{
     .fa-icon{
      font-size: 80px;
    }

    > h2 {
      margin: 0px;
      font-size: 1.5em;
      font-weight: bold;
      color: #673AB7;
    }
  }
  
  &:not(:last-child) .timeline-content > .fa-icon{
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
	.timeline-item {
		flex-direction: column;
		border-left: 2px solid #e0e0e0;
    
    > div {
      border-width: 0px !important;
      text-align: left !important;
      order: unset !important;

      &::after {
        left: 0% !important;
      }
    }
    
    &:nth-child(odd) .timeline-content > h2 {
      text-align: left !important;
    }
    
    &:nth-child(even) .timeline-content > h2 {
      text-align: left !important;
    }
	}
}
