.searchbox-layer0 {
  float: left;
  width: 100%;
  max-width: 836px;
  margin-top: 42px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.25);
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.25);
  margin-bottom: 30px;
}

.search-top {
  flex-direction: column;
  display: flex;
}

.div[class*=-menu] {
  left: 0;
}

.search-row {
  display: flex;
  flex-direction: column-reverse;
}

div[class$=-menu] {
  padding: 5px 10px;
  left: 0;
}

div[class*=-container] {
  position: inherit;
}

div[class*=-option], div[class*=-option]:hover {
  border-radius: 5px;
}

div[class*=-option]:hover {
  background-color: #e8e8e8;
}

.content-area {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.content-container-left {
  width: calc(100% - 395px) !important;
  min-width: calc(100% - 395px);
}

.content-container-right {
  width: 375px !important;
  min-width: 375px;
}

#image-area {
  position: sticky;
  margin-top: 50px;
  border: 1px solid #a2a9b1;
  border-spacing: 3px;
  background-color: #f8f9fa;
  padding: 0.2em;
}

.details-area {
  margin-top: 15px;
  display: flex;
}

.infobox-left {
  font-size: 14px;
  line-height: 1.5em;
  vertical-align: top;
  text-align: left;
  padding-top: 5%;
  padding-left: 5%;
}

.infobox-right {
  font-size: 14px;
  padding-top: 5%;
  padding-left: 15%;
  margin-bottom: 10%;
}