.searchbox-layer0 {
  float: left;
  width: 100%;
  max-width: 836px;
  margin-top: 42px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.25);
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.25);
  margin-bottom: 30px;
}

.search-top {
  flex-direction: column;
  display: flex;
}

.div[class*=-menu] {
  left: 0;
}

.search-row {
  display: flex;
  flex-direction: column-reverse;
}

div[class$=-menu] {
  padding: 5px 10px;
  left: 0;
}

div[class*=-container] {
  position: inherit;
}

div[class*=-option], div[class*=-option]:hover {
  border-radius: 5px;
}

div[class*=-option]:hover {
  background-color: #e8e8e8;
}

.content-area {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.content-container-left {
  width: calc(100% - 395px) !important;
  min-width: calc(100% - 395px);
}

.content-container-right {
  width: 375px !important;
  min-width: 375px;
}